<!DOCTYPE html>
<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> <!-- Vietnamese -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
<style>
.buttonOn{
	color: black;
	background-color: lightgreen;
	cursor: pointer;
}
.buttonOff{
	color: black;
	background-color: lightpink;
	cursor: pointer;
}

.splitStyle{
	width:12%;
	text-align:left;
	margin-left:0
}

.myTable{
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}
td {
  border: 5px solid black;
  padding: 20px;
}

</style>
</head>

<body>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.11.0/beautify.js"></script>

<script src = "/socket.io/socket.io.js"></script>
<script src = "guiconfigfn.js"></script>

</html>